<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static' , filename='style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Bungee Inline' rel='stylesheet'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>
        Sonic Sphere/Taylor Swift/Fearless
    </title>
    <link rel="icon" type="image/x-icon" href="https://previews.123rf.com/images/cienpies/cienpies1201/cienpies120100003/11859954-high-contrast-music-instruments-silhouette-in-circle-shape-vector-file-available.jpg">
    <div class="navbar">
    <div class="name">
            <a href="{{url_for('home')}}" style="position:relative;left:900px;top:20px;">Home</a>
            <a href="{{url_for('Artists')}}" style="position:relative;left:900px;top: 20px;">Artists</a>
            <a href="{{url_for('Album')}}" class="active" style="position:relative;left:900px;top:20px">Albums</a>
            <a href="{{url_for('Search')}}" style="position: relative; left:900px; top:20px;">Search</a>
            <!-- <a href="../../sampleSongs.html" style="position:relative;left:1080px;top:20px">Songs</a> -->
            <a href="{{url_for('Playlist')}}" style="position: relative; left:900px; top:20px;">Playlist</a>
                  <a href="{{url_for('ArtistSpotlight')}}"  style="position:relative;left:900px;top: 20px;">Artist Spotlight</a>
      <a href="{{url_for('About')}}" style="position:relative;left:900px;top: 20px;">About</a>
        </div>
        <a href="{{url_for('home')}}">
            <img src="https://previews.123rf.com/images/cienpies/cienpies1201/cienpies120100003/11859954-high-contrast-music-instruments-silhouette-in-circle-shape-vector-file-available.jpg"
                style="width: 50px;height: 50px; border-radius: 50%;position:relative;right:500px;"> </a>
        <a href="{{url_for('home')}}"
            style="font-family: Bungee Inline;position: relative;top:7px;right:530px;font-size: 30px;"> SonicSphere </a>
    </div>

</head>


<body>
    <div class="container1">
        <a id="top"></a>

        <p></p>

        <div class="container5">

            <p></p>
            <img src="https://parade.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_1200/MTk0NDAyODA3ODI5MjQzMzk3/taylor-swift-albums-taylor-swift-fearless-taylors-version.webp"
                style="width:270px;height: 270px;box-shadow: 0 4px 60px rgba(0,0,0,.5);">
            <div class="parta">
                <p> Album</p>
                <h1 style="font-size: 80px;">Fearless</h1>


                <div class="container6">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_rBL75d5Mo9JbZfMY4n6lRwIIKKdiatj4VcmsL3gCAw&usqp=CAU&ec=48665701"
                        style="border-radius: 50%;width:40px;height:40px; ">

                    <a href="{{url_for('Taylor_Swift')}}" style="color:antiquewhite;position:relative;top:13px;">Taylor
                        Swift</a>
                    <span class="container7">
                        2021
                    </span>
                    <span class="container7">
                        26 songs,1 hr 46 min
                    </span>
                </div>



            </div>


        </div>

        <!-- <hr style="position:relative;top:400px;height: 0.245px;background-color: whitesmoke; border: none;margin: 10px 0; "> -->
        <div class="container8">
            <p></p>
            <p>#</p>
            <p>Title</p>
            <span class="material-symbols-outlined" style="position:relative; top:10px; font-size: 20px;">
                schedule
            </span>


        </div>
        <hr style="width:1200px;position: relative;top:370px">
        <div class="container9" style="font-size: 15px;">
            <p></p>
            <p>1</p>
            <p>Fearless</p>
            <form method="post" action="{{ url_for('retrieve_id') }}">
                <input type="hidden" name="id" value="76">
                <button type="submit" style="position: relative;top:10px; box-shadow: 0 4px 60px rgba(0, 0, 0, 5);background-color:blanchedalmond;border-radius: 10px;height: 30px;" title="Add to Playlist"><span class="material-symbols-outlined">
                    playlist_add
                    </span></button>
              </form>
            <p>4:01</p>
        </div>

        <div class="container9" style="font-size: 15px;">
            <p></p>
            <p>2</p>
            <p>Fifteen</p>
            <form method="post" action="{{ url_for('retrieve_id') }}">
                <input type="hidden" name="id" value="77">
                <button type="submit" style="position: relative;top:10px; box-shadow: 0 4px 60px rgba(0, 0, 0, 5);background-color:blanchedalmond;border-radius: 10px;height: 30px;" title="Add to Playlist"><span class="material-symbols-outlined">
                    playlist_add
                    </span></button>
              </form>
            <p>4:54</p>
        </div>
        <div class="container9" style="font-size: 15px;">
            <p></p>
            <p>3</p>
            <p>Love Story</p>
            <form method="post" action="{{ url_for('retrieve_id') }}">
                <input type="hidden" name="id" value="78">
                <button type="submit" style="position: relative;top:10px; box-shadow: 0 4px 60px rgba(0, 0, 0, 5);background-color:blanchedalmond;border-radius: 10px;height: 30px;" title="Add to Playlist"><span class="material-symbols-outlined">
                    playlist_add
                    </span></button>
              </form>
            <p>3:55</p>
        </div>
        <div class="container9" style="font-size: 15px;">
            <p></p>
            <p>4</p>
            <p>Hey Stephen</p>
            <form method="post" action="{{ url_for('retrieve_id') }}">
                <input type="hidden" name="id" value="79">
                <button type="submit" style="position: relative;top:10px; box-shadow: 0 4px 60px rgba(0, 0, 0, 5);background-color:blanchedalmond;border-radius: 10px;height: 30px;" title="Add to Playlist"><span class="material-symbols-outlined">
                    playlist_add
                    </span></button>
              </form>
            <p>4:14</p>
        </div>
        <div class="container9" style="font-size: 15px;">
            <p></p>
            <p>5</p>
            <p>White Horse</p>
            <form method="post" action="{{ url_for('retrieve_id') }}">
                <input type="hidden" name="id" value="80">
                <button type="submit" style="position: relative;top:10px; box-shadow: 0 4px 60px rgba(0, 0, 0, 5);background-color:blanchedalmond;border-radius: 10px;height: 30px;" title="Add to Playlist"><span class="material-symbols-outlined">
                    playlist_add
                    </span></button>
              </form>
            <p>3:54</p>
        </div>



        <br>
        <br>
        <footer style="position: relative;top:350px">
            <div class="footer-container">
                <div class="footer-logo">
                    <a href="{{ url_for('home')}}">
                        <img src="https://previews.123rf.com/images/cienpies/cienpies1201/cienpies120100003/11859954-high-contrast-music-instruments-silhouette-in-circle-shape-vector-file-available.jpg"
                            style="width: 50px;height: 50px; border-radius: 50%;position:relative;top:13px;right:0px;left:50px">
                    </a>
                    <a href="{{ url_for('home')}}"
                        style="font-family: Bungee Inline;color:aliceblue; font-size: 30px;position: relative;right: 0px;left: 50px;">
                        SonicSphere </a>
                </div>
                <div class="footer-links" style="position: relative;right: 150px;">
                    <ul>
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('About')}}">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="{{ url_for('Privacy_policy') }}">Privacy Policy</a></li>
                        <li><a href="{{ url_for('Terms_of_service') }}">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="footer-social" >
              <ul>
                 <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                 <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              </ul>
           </div> -->

            <div class="footer-credits" style="position: relative;left: 200px;">
                <p>&copy; 2023 Sonicsphere. All rights reserved.</p>
            </div>
        </footer>

</body>

</html>