<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static' , filename='style.css') }}">
  

  <link href='https://fonts.googleapis.com/css?family=Bungee Inline' rel='stylesheet'>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <title>
    Sonic Sphere/Ed Sheeran
  </title>
  <link rel="icon" type="image/x-icon" href="https://previews.123rf.com/images/cienpies/cienpies1201/cienpies120100003/11859954-high-contrast-music-instruments-silhouette-in-circle-shape-vector-file-available.jpg">
  <div class="navbar">
    <div class="name">
      <a href="{{url_for('home')}}" style="position:relative;left:970px;top:20px;">Home</a>
      <a href="{{url_for('Artists')}}" style="position:relative;left:970px;top: 20px;">Artists</a>
      <a href="{{url_for('Search')}}" style="position: relative; left:970px; top:20px;">Search</a>
      <a href="{{url_for('Album')}}"  style="position:relative;left:970px;top:20px">Albums</a>
      <!-- <a href="../../sampleSongs.html" style="position:relative;left:1080px;top:20px">Songs</a> -->
            <a href="{{ url_for('ArtistSpotlight') }}" class="active" style="position:relative;left:970px;top: 20px;">Artist Spotlight</a>
<a href="{{ url_for('About') }}" style="position:relative;left:970px;top: 20px;">About</a>
    </div>
    <a href="{{url_for('home')}}">
      <img
        src="https://previews.123rf.com/images/cienpies/cienpies1201/cienpies120100003/11859954-high-contrast-music-instruments-silhouette-in-circle-shape-vector-file-available.jpg"
        style="width: 50px;height: 50px; border-radius: 50%;position:relative;right:440px;"> </a>
    <a href="{{url_for('home')}}"
      style="font-family: Bungee Inline;position: relative;top:7px;right:470px;font-size: 30px;"> SonicSphere </a>
  </div>

</head>


<body>
        <div class="Title">
        <div class="Text">
            
            <p style="font-size: 70px;">Ed Sheeran | Artist Spotlight</p>
        </div>
    </div>

  <div class="container1">
    <a id="top"></a>

    <p></p>



    <!-- <div class="present" style="text-align: center;">
          <h1>Abums</h1>
         </div> -->
    <!-- <hr> --> 
      <div id="confetti-wrapper">
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
      </div>

 <!-- <header>
        <h1>
          Ed Sheeran
        </h1>
      </header> -->


     <!-- <div class="module"> -->

    
  
    <div class="container12" style="grid-template-columns: 1fr 1.3fr;">
        <div class="ver">

<div class="zoomin-out">
    <img src="https://people.com/thmb/s24xjey04khQoJCg40ReVAff97Q=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(749x0:751x2)/Ed-Sheeran-2023032329-9537230a7995474d9ea72724b0fafa5c.jpg" style="width: 500px;height: 333.3px;border-radius: 10px;">
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
<div class="container10" style="position: relative;left:20px;top:100px" >
<a href="https://facebook.com/edsheeranmusic" class="fa fa-facebook"></a>
<a style="position: relative;top:58px;left:5px;color: antiquewhite;width: 70px;" href="https://facebook.com/edsheeranmusic" > facebook </a>
        </div>
        <div class="container10" style="position: relative;left:20px;top:100px">
        <a href="https://instagram.com/teddysphotos" class="fa fa-instagram" style="position: relative;top:57px;"></a>
<a style="position: relative;top:65px;left:5px;color: antiquewhite; width: 70px;" href="https://instagram.com/teddysphotos" > instagram </a>
 </div>
 <div class="container10" style="position: relative;left:20px;">
 <a href="https://twitter.com/edsheeran" class="fa fa-twitter" style="position: relative;top:54px;"></a>
 <a style="position: relative;top:62px;left:5px;color: antiquewhite;width: 50px;" href="https://twitter.com/edsheeran" > twitter </a>
</div>
<div class="container10" style="position: relative;left:20px;top:140px">
    <span class="material-symbols-outlined" href="https://en.wikipedia.org/wiki/Ed_Sheeran">
        open_in_new
        </span>
        <a style="position: relative;top:5px; left:5px;color: antiquewhite;width: 50px;" href="https://en.wikipedia.org/wiki/Ed_Sheeran" > wikipedia </a>
</div>
</div>
<p style="font-size: 15px;">When searching for words to describe Ed Sheeran, it seemed nearly impossible however, AllMusic.com's Jon O'Brien says it best.<br><a style="opacity: 60%;">"Flame-haired singer/songwriter, beatboxer, and guitarist Ed Sheeran's eclectic blend of acoustic pop, folk, and hip-hop has been championed by everyone from the underground grime scene to American Oscar winners."<br></a><br>

    Ed Sheeran may be the quintessential pop star of the 2010s: a singer/songwriter who seems to acknowledge no boundaries between styles or eras, creating a sound that's idiosyncratic and personal. Sheeran borrows from any style that crosses his path -- elements of folk, hip-hop, pop, dance, soul, and rock can be heard in his big hits "The A Team," "Sing," "Thinking Out Loud," and "Shape of You" -- which gives him a broad appeal among different demographics. It also helped elevate him to international acclaim not long after the release of his 2011 debut, +. Sheeran maintained his stardom with savvy collaborations -- his 2019 album No. 6 Collaborations Project featured an eclectic roster including Khalid, Camilo Cabello, Cardi B,Justin Bieber,Chris Stapleton, and Bruno Mars
    -- and by continuing to write candidly about his life: his 2021 album = was filled with songs about being a new father.<br><br>
     All of this laid the groundwork for a busy 2011. Sheeran entered the studio with Jake Gosling to record his major-label debut. Its first single, "The A Team," arrived in June 2011, entering the charts at number three. August brought "You Need Me, I Don't Need You," setting the stage for the September release of +. Assisted by the success of November's single "Lego House," the record became a huge hit in the U.K., a fact underscored by his win of British Breakthrough in the 2012 Brit Awards. Sheeran's success soon spread to Australia, Europe, Canada, and then the United States. He received a boost in the U.S. by opening for Snow Patrol in 2012, but that paled in comparison to the exposure he received opening for Taylor Swift on her Red tour in 2013. His endorsement from Swift, combined with his landing of the closing credits song "I See Fire" for The Hobbit: The Desolation of Smaug, set Sheeran up for an eventful 2014.<br><br>
    <a style="font-size: 18px;"> <b>Here is a verse from his new single: </b><br></a>

     <a style="opacity: 70%;"> "...Fifteen years old and smoking hand-rolled cigarettes<br>
     Running from the law through the backfields and getting drunk with my friends<br>
     Had my first kiss on a Friday night, I don't reckon that I did it right<br>
     But I was younger then..."<br><br>
     </a>
     Sheeran spent the majority of 2016 recuperating and recording his third album with executive producer Benny Nlanco. Early in 2017, he released two singles, "Castle on the Hill" and "Shape of You," with the latter reaching number one on the charts throughout the world. Their parent album, ÷, appeared in March. ÷ topped the pop charts in over 20 territories, including the U.K. and U.S., and it generated another international hit in "Galway Girl." Ed Sheeran's massive popularity was confirmed in June 2017, when he was awarded an MBE on the occasion of the Queen's Birthday Honours. Over the next year, Sheeran stayed busy touring. He also picked up several more accolades including winning the Grammy Award for Best Pop Vocal Album for ÷ and Best Pop Solo Performance for "Shape of You."<br><br>
    In 2019, he paired with Justin Bieber for the single "I Don't Care." It was the first of a series of duets which Sheeran collected on No. 6 Collaborations Project. The album appeared on July 12, 2019 and topped numerous charts just a few weeks after the release of Yesterday, a Danny Boyle film set in an alternate world where the Beatles never existed that featured Sheeran in a pivotal role. No. 6 Collaborations Project went on to be nominated for a Grammy in the Best Pop Vocal Album category. In December 2020, Sheeran offered up the acoustic non-album single, "Afterglow" as a Christmas gift to his fans.<br><br>

</div>
  <div id="confetti-wrapper">
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
      </div>
<div class="container6">
<img src="https://i.redd.it/ga54uandmi541.jpg" style="width:500px;height: 500px;">
<div class="module8" ><header>
  </div></div>
<br>
   <div id="confetti-wrapper">
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
      </div>
<p><a style="font-size: 18px;"> <b>The funny thing is..</b></a><br>

    Back in June of 2012 - Sheeran preformed on 'The Voice UK' and during his blind auditions, the judges failed to turn around for him! <br>  If you're not familiar with The Voice, judges place their backs to the artists and if they like what they hear, they turn their chair around.<br>
    This guy is going to be around awhile and I guarantee he'd turn some chairs these days!</a></p><br>
    <p><a style="font-size: 18px;"> <b>Here are a couple of links to him preforming:</b></a><br>

        <a style="font-size: 15px;"> <br>"Thinking Out Loud" - <a href="https://www.youtube.com/watch?v=f6Cswdm601A" style="color: antiquewhite;">go to video</a>
        <a style="font-size: 15px;"> <br>"Castle On The Hill" - <a href="https://www.youtube.com/watch?v=K0ibBPhiaG0" style="color: antiquewhite;">go to video</a>
        <a style="font-size: 15px;"> <br>"Celestial" - <a href="https://www.youtube.com/watch?v=23g5HBOg3Ic" style="color: antiquewhite;">go to video</a>
    </p><br>
        
     <!-- Here is an awesome video that captures his voice as he plays Thinking Out Loud in an acoustic setting.</p>  -->
  
     <h1>Upcoming releases</h1>
<!-- <img src="https://i.guim.co.uk/img/media/0486cbf8414bb663232897479b88c5d6514ed421/0_0_3000_3000/master/3000.jpg?width=700&quality=85&auto=format&fit=max&s=89b35952a4855bdf89357764639fa267" style="width: 300px;height: 300px;border-radius: 10px;"> -->


<div class="container5" style="max-width:1200px ; position: relative;top:20px;grid-template-columns: 0fr 1fr 3fr;">

    <p></p>
    <img src="https://i.guim.co.uk/img/media/0486cbf8414bb663232897479b88c5d6514ed421/0_0_3000_3000/master/3000.jpg?width=700&quality=85&auto=format&fit=max&s=89b35952a4855bdf89357764639fa267"
        style="width:300px;height:300px;box-shadow: 0 4px 60px rgba(0,0,0,.5);">
    <div class="parta">
        <p> Album</p>
        <h1 style="font-size: 80px;">-(Deluxe)</h1>


        <div class="container6" style="position:relative;grid-template-columns: 0.07fr 0.101fr  1fr;">
            <img src="https://assets.capitalfm.com/2022/43/ed-sheeran--1666953393-editorial-short-form-0.jpg"
                style="border-radius: 50%;width:40px;height:40px; ">

            <a href="./Ed_SheeranAlbum.html" style="color:antiquewhite;position:relative;top:13px;">Ed
                Sheeran</a>
            <span class="container7">
                Releases on June 5, 2023
            </span>
        </div>



    </div>


</div>
 
          <!-- <title>Countdown Timer</title>
    <h1>Countdown Timer</h1>
    <p>Time remaining: </p> -->
    <div id="countdown" class="countdown" style="position: relative;left:450px;">
        <div class="zoomin-out" style="animation: zoom-in-zoom-out 2s ease infinite;">
        <img src="https://i.guim.co.uk/img/media/0486cbf8414bb663232897479b88c5d6514ed421/0_0_3000_3000/master/3000.jpg?width=700&quality=85&auto=format&fit=max&s=89b35952a4855bdf89357764639fa267" style="width:75px;height: 75px;border-radius: 10px;">
        </div><ul>
       <li> <div>
          <span class="countdown-value" id="countdown-days"></span>
          <span class="countdown-label">Days </span>
          
        </div></li>
       <li> <div>
          <span class="countdown-value" id="countdown-hours"></span>
          <span class="countdown-label">Hours</span>
        </div></li>
        <li>        <div>
          <span class="countdown-value" id="countdown-minutes"></span>
          <span class="countdown-label">Minutes</span>
        </div></li>
        <li>
        <div>
          <span class="countdown-value" id="countdown-seconds"></span>
          <span class="countdown-label">Seconds</span>
        </div></li>
        </ul>
      </div>
    


<br>
<br>
<h1>Enjoy!</h1>
<p style="font-size: 15px;">        
    Leave a Review on what you think!  Have any suggestions on who the next "Artist Spotlight" should be on?  Till next time...
</p>



<br>
<br>
      
  
	<title >Artist Review</title>
	
		<!-- /* table {
       
			border-collapse: collapse;
			width: 100%;
		}
		th, td {
         
			text-align: left;
			padding: 8px;
			border-bottom: 1px solid #ddd;
		}
		tr:hover {
			background-color: hsl(0, 0%, 100%,50%);

		}
		th {
            
			background-color: rgb(12, 12, 12);
			color: white;
		} */ -->
	
		<!-- // function submitReview() {
		// 	var name = document.getElementById("name").value;
		// 	var rating = document.querySelector('input[name="rating"]:checked').value;
		// 	var review = document.getElementById("review").value;
		// 	var table = document.getElementById("reviewTable");
		// 	var row = table.insertRow(-1);
		// 	var cell1 = row.insertCell(0);
		// 	var cell2 = row.insertCell(1);
		// 	var cell3 = row.insertCell(2);
		// 	cell1.innerHTML = name;
		// 	cell2.innerHTML = rating;
		// 	cell3.innerHTML = review;
		// } -->



	<h1>Artist Review</h1>
	<form>
		<label for="name">Name:</label>
		<input type="text" id="name" name="name"><br><br>
		<label for="rating">Rating:</label><br>
		<input type="radio" id="rating" name="rating" value="1"> 1 star<br>
		<input type="radio" id="rating" name="rating" value="2"> 2 stars<br>
		<input type="radio" id="rating" name="rating" value="3"> 3 stars<br>
		<input type="radio" id="rating" name="rating" value="4"> 4 stars<br>
		<input type="radio" id="rating" name="rating" value="5"> 5 stars<br><br>
		<label for="review">Review:</label><br>
		<textarea id="review" name="review" rows="4" cols="50"></textarea><br><br>
		<button  type="button" onclick="submitReview()" onclick="typeWriter()">Submit Review</button>

    </form><br><br>
    
<!-- <p id="demo"></p>  -->
	<table id="reviewTable">
		<tr>
			<th>Name</th>
			<th>Rating</th>
			<th>Review</th>
		</tr>
	</table>


  
  



    <span class="material-symbols-outlined" style="position: relative;left:1300px;bottom:1px;font-size: 15px;"><a
        href="#" title="Back to Top">
        arrow_upward
      </a>
    </span>
    <script src="/static/script.js"></script>
</body>
<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <a href="{{ url_for('home')}}">
        <img
          src="https://previews.123rf.com/images/cienpies/cienpies1201/cienpies120100003/11859954-high-contrast-music-instruments-silhouette-in-circle-shape-vector-file-available.jpg"
          style="width: 50px;height: 50px; border-radius: 50%;position:relative;top:13px;right:0px;left:50px"> </a>
      <a href="{{ url_for('home')}}"
        style="font-family: Bungee Inline;color:aliceblue; font-size: 30px;position: relative;right: 0px;left: 50px;">
        SonicSphere </a>
    </div>
    <div class="footer-links" style="position: relative;right: 150px;">
      <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{ url_for('About') }}">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="{{ url_for('Privacy_policy') }}">Privacy Policy</a></li>
        <li><a href="{{ url_for('Terms_of_service') }}">Terms of Service</a></li>
      </ul>
    </div>
  </div>
  <!-- <div class="footer-social" >
        <ul>
           <li><a href="#"><i class="fab fa-facebook"></i></a></li>
           <li><a href="#"><i class="fab fa-twitter"></i></a></li>
           <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
     </div> -->
     

  <div class="footer-credits" style="position: relative;left: 200px;">
    <p>&copy; 2023 Sonicsphere. All rights reserved.</p>
  </div>
</footer>

</html>