<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static' , filename='style.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Bungee Inline' rel='stylesheet'>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <title>
    Sonic Sphere/One Direction
  </title>
  <link rel="icon" type="image/x-icon" href="https://previews.123rf.com/images/cienpies/cienpies1201/cienpies120100003/11859954-high-contrast-music-instruments-silhouette-in-circle-shape-vector-file-available.jpg">
  <div class="navbar">
    <div class="name">
        <a href="{{url_for('home')}}" style="position:relative;left:900px;top:20px;">Home</a>
        <a href="{{url_for('Artists')}}" style="position:relative;left:900px;top: 20px;">Artists</a>
        <a href="{{url_for('Album')}}" class="active" style="position:relative;left:900px;top:20px">Albums</a>
        <a href="{{url_for('Search')}}" style="position: relative; left:900px; top:20px;">Search</a>
        <!-- <a href="../../sampleSongs.html" style="position:relative;left:1080px;top:20px">Songs</a> -->
        <a href="{{url_for('Playlist')}}" style="position: relative; left:900px; top:20px;">Playlist</a>
              <a href="{{url_for('ArtistSpotlight')}}"  style="position:relative;left:900px;top: 20px;">Artist Spotlight</a>
  <a href="{{url_for('About')}}" style="position:relative;left:900px;top: 20px;">About</a>
    </div>
    <a href="{{url_for('home')}}">
        <img src="https://previews.123rf.com/images/cienpies/cienpies1201/cienpies120100003/11859954-high-contrast-music-instruments-silhouette-in-circle-shape-vector-file-available.jpg"
            style="width: 50px;height: 50px; border-radius: 50%;position:relative;right:500px;"> </a>
    <a href="{{url_for('home')}}"
        style="font-family: Bungee Inline;position: relative;top:7px;right:530px;font-size: 30px;"> SonicSphere </a>
</div>

</head>


<body>
  <div class="container1">
    <a id="top"></a>
    <div class="module2">

      <header>
        <h1>
          One Direction
        </h1>
      </header>
    </div>

    <div class="container2">
      <p></p>

      <div class="artist">
        <div class="but">


          <a href="{{url_for('Midnight_memories')}}">
            <!-- -->
            <img src="https://i.scdn.co/image/ab67616d0000b2732f76b797c382bedcafdf45e1"
              style="width:250px;height:250px;border-radius: 50%;">
            <a style="position:relative; display: inline-block;width:250px;height: 30px;">
              <div
                style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.7); color: white; padding: 10px;border-radius: 0 0 1000px 1000px;">

                <p style="font-family: 'Times New Roman', Times, serif; font-size: 21px; margin: 0;">
                  <!-- <span class="caption" style="color:whitesmoke;font-family: cursive; font-size: 25px;"> &divide;(Deluxe)</span> -->

                  <b> Midnight Memories </b><br />
                  <b>18 </b>Songs<br />
                  <b>2013</b><br>
                </p>
              </div>
            </a>
          </a>
        </div>
      </div>
      <div class="artist">
        <div class="but">

          <!--  -->
          <a href="{{url_for('Four')}}">
            <img src="https://upload.wikimedia.org/wikipedia/en/e/e8/One_Direction_-_Four.png"
              style="width:250px;height:250px;border-radius: 50%;">
            <a style="position: relative; display: inline-block;width:250px;height: 30px;">
              <!-- <span class="caption" style="color:whitesmoke;font-family: cursive; font-size: 25px;">Red(Deluxe)</span>    -->
              <div
                style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.7); color: white; padding: 10px; border-radius: 0 0 1000px 1000px;">
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 21px; margin: 0;">
                  <b>Four</b><br />
                  <b>16 </b>Songs<br />
                  <b>2014</b><br>
                </p>
              </div>
            </a>

            <!-- </a> -->
        </div>
      </div>
      <div class="artist">
        <div class="but">
          <!-- <a style="position:retalive; display: inline-block;"> -->
          <!--  -->
          <a href="{{url_for('Take_me_home')}}">
            <img src="https://upload.wikimedia.org/wikipedia/en/7/79/Take_Me_Home_by_One_Direction.png"
              style="width:250px;height:250px;border-radius: 50%;">
            <a style="position: relative;display: inline-block;width: 250px;height: 30px;">
              <div
                style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.7); color: white; padding: 10px; border-radius: 0px 0px 1000px 1000px ;">
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 21px; margin: 0;">
                  <b>Take me Home</b><br />
                  <b>20 </b>Songs<br />
                  <b>2012</b><br>
                </p>
              </div>
            </a>
            <!-- </a> -->
        </div>
      </div>




    </div>

    <div class="container3">
      <p></p>
      <div class="artist">
        <div class="but">
          <!-- <a style="position:retalive; display: inline-block;"> -->
          <!--  -->
          <a href="{{url_for('Up_All_night')}}">
            <img src="https://upload.wikimedia.org/wikipedia/en/9/96/One_direction_up_all_night_albumcover.jpg"
              style="width:250px;height:250px;border-radius: 50%;">
            <a style="position: relative;display: inline-block;width: 250px;height: 30px;">
              <div
                style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.7); color: white; padding: 10px; border-radius: 0px 0px 1000px 1000px ;">
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 21px; margin: 0;">
                  <b>Up all Night</b><br />
                  <b>18 </b>Songs<br />
                  <b>2012</b><br>
                </p>
              </div>
            </a>
            <!-- </a> -->
        </div>
      </div>
      <p></p>

      <div class="artist">
        <div class="but">
          <!-- <a style="position:retalive; display: inline-block;"> -->
          <!--  -->

          <a href="{{url_for('Made_in_the_Am')}}">
            <img
              src="https://upload.wikimedia.org/wikipedia/en/f/f4/One_Direction_-_Made_in_the_AM_%28Official_Album_Cover%29.png"
              style="width:250px;height:250px;border-radius: 50%;">

            <a style="position: relative;display: inline-block;width: 250px;height: 30px;">

              <div
                style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.7); color: white; padding: 10px; border-radius: 0px 0px 1000px 1000px ;">
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 21px; margin: 0;">
                  <b>Made in Am</b><br />
                  <b>17 </b>Songs<br />
                  <b>2015</b><br>
                </p>
              </div>
            </a>
            <!-- </a> -->
        </div>
      </div>


    </div>
    <br>






    <span class="material-symbols-outlined" style="position: relative;left:1300px;bottom:1px;font-size: 15px;"><a
        href="#" title="Back to Top">
        arrow_upward
      </a>
    </span>



</body>

<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <a href="{{ url_for('home')}}">
        <img
          src="https://previews.123rf.com/images/cienpies/cienpies1201/cienpies120100003/11859954-high-contrast-music-instruments-silhouette-in-circle-shape-vector-file-available.jpg"
          style="width: 50px;height: 50px; border-radius: 50%;position:relative;top:13px;right:0px;left:50px"> </a>
      <a href="{{ url_for('home')}}"
        style="font-family: Bungee Inline;color:aliceblue; font-size: 30px;position: relative;right: 0px;left: 50px;">
        SonicSphere </a>
    </div>
    <div class="footer-links" style="position: relative;right: 150px;">
      <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{ url_for('About') }}">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="{{ url_for('Privacy_policy') }}">Privacy Policy</a></li>
        <li><a href="{{ url_for('Terms_of_service') }}">Terms of Service</a></li>
      </ul>
    </div>
  </div>
  <!-- <div class="footer-social" >
        <ul>
           <li><a href="#"><i class="fab fa-facebook"></i></a></li>
           <li><a href="#"><i class="fab fa-twitter"></i></a></li>
           <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
     </div> -->

  <div class="footer-credits" style="position: relative;left: 200px;">
    <p>&copy; 2023 Sonicsphere. All rights reserved.</p>
  </div>
</footer>

</html>